aiosonic
antialiased-cnns
certifi
charset-normalizer
colorama
contourpy
cycler
faiss-cpu
filelock
fonttools
fsspec
h2
hpack
hyperframe
idna
importlib-resources
jinja2
joblib
kiwisolver
lion-pytorch
markupsafe
matplotlib
mpmath
networkx
numpy
onecache
opencv-python
packaging
pandas
pillow
pip
psutil
py-cpuinfo
pyparsing
python-dateutil
pytz
pyyaml
requests
scikit-learn
scipy
seaborn
six
sympy
threadpoolctl
torch
torchinfo
torchvision
tqdm
typing-extensions
tzdata
ultralytics
ultralytics-thop
urllib3
zipp
